<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://www.akro.com.au" target="_blank">Angular 2 JWT Authentication - Quickstart Template</a>
    </p>
    
    <p>
        <a href="http://jasonwatmore.com/post/2016/08/16/angular-2-jwt-authentication-example-tutorial" target="_blank">JWT Client Mockbackend Tutorial - JasonWatmore.com</a>
    </p>
    <p>
        <a href="http://devdactic.com/restful-api-user-authentication-1" target="_blank">Server Node.JS Tutorial - Simon Reimler</a>
    </p>

    <p>
        <a href="http://www.akro.com.au" target="_blank">www.akro.com.au</a>
    </p>
</div>